# Pandas Tutorial - Kaggle

Date: 2021-05-15

Links: https://www.kaggle.com/learn/pandas

In [ ]:
import pandas as pd

## Creating, Reading and Writing

There are two core objects in pandas: DataFrame and Series

### DataFrame

In [ ]:
# Create a Basic DataFrame
pd.DataFrame({'Bob':['I liked it.','It was awful.'],
    'Sue':['Pretty good.','Bland.']})

In [ ]:
# Create a DataFrame with index
pd.DataFrame({'Bob':['I liked it.','It was awful.'],
    'Sue':['Pretty good.','Bland.']},
    index = ['Product A','Product B'])

### Series

A Series is a sequence of data values. If DataFrame is a table, a Series is a list.

A Series is, in essence, a single column of a DataFrame.
- A Series can have index parameter
- A Series does not have a column name

In [ ]:
pd.Series([1,2,3,4])

In [ ]:
# Series with index and assigned name
pd.Series([30, 35, 40], index = ['2015 Sales','2016 Sales','2017 Sales'], name = 'Product A')

### Reading data files

In [ ]:
wine_reviews = pd.read_csv("./data/winemag-data/winemag-data-130k-v2.csv")

In [ ]:
# shape attribues: return row and column count
wine_reviews.shape

In [ ]:
# show the first 5 rows 
wine_reviews.head()

In [ ]:
# read_csv(): specify the 1st column as a index column using index_col
wine_reviews = pd.read_csv('./data/winemag-data/winemag-data-130k-v2.csv', index_col=0)
wine_reviews.head()

## Indexing, Selecting & Assigning

In [ ]:
# Access column using table.column_name
wine_reviews.country

In [ ]:
# Accessing column using ['colum_name']
wine_reviews['country']

In [ ]:
# Select the first row of column 'country'
wine_reviews['country'][0]

### Indexing in pandas

Pandas indexing works in one of 2 paradigms:
- index-based selection `iloc`: selecting data based on its numerical position in the data
- label-based selection `loc`: selecting data based on its data index value, not its position

**Index-based selection** `iloc`

In [ ]:
wine_reviews.iloc[0] # select the first row

Both loc and iloc are row-first, column-second. This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns.

In [ ]:
wine_reviews.iloc[:, 0] # retrieve the first column

On its own, the `:` operator means "everything". However, it can be used to indicate a range of values.

In [ ]:
wine_reviews.iloc[:3, 0] # select the top 3 rows of the 1st column

In [ ]:
wine_reviews.iloc[[0,1,2], 0] # select the top 1st, 2nd, 3rd row of the 1st column

In [ ]:
wine_reviews.iloc[-5:,] # select the last 5 rows using negative number

In [ ]:
wine_reviews['country'].iloc[:1] # `iloc` can also be used in Series

**Label-based selection** `loc`

In [ ]:
wine_reviews.loc[0, 'country'] # select the 1st row of column country

In [ ]:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']] # select all rows in columns specified

Choosing between `loc` and `iloc`:
- `iloc` is conceptually simpler than `loc`, while `loc` can access data directly using index values(such as column names)
- Gotcha: `iloc` use Python stdlib indexing scheme, where the 1st element of the range is included and the last one excluded. So `0:10` will select entries `0,...,9`. Meanwhile, indexes used in `loc` is inclusive, so `0:10` will select entries `0,...,10`.

In [ ]:
# Exercises
# Create a variable df containing the country and variety columns of the first 100 records.
df = wine_reviews.loc[:99,['country','variety']]

### Manipulating the index

Label-based selection `loc` derives its power from the labels in the index. Critically, the index we use is ot immutable.

In [ ]:
wine_reviews.set_index('title') # set column title as index column 
## note this will not change the dataframe index, you will have to assign to a new dataframe`

### Conditional Selection

In [ ]:
# return a Series of True/False
wine_reviews['country'] == 'Italy'

In [ ]:
# select rows where country = Italy using loc + Series
wine_reviews.loc[wine_reviews['country'] == 'Italy']

In [ ]:
# `&`: and
# select rows where country = Italy and points >= 90 
wine_reviews.loc[(wine_reviews['country'] == 'Italy') & (wine_reviews['points'] >= 90)]

In [ ]:
# `|`: or
# select rows where country = Italy or points >=90
wine_reviews.loc[(wine_reviews['country'] == 'Italy') | (wine_reviews['points'] >= 90)]

In [ ]:
# `isin`: in
# select rows where country is Italy or France
wine_reviews.loc[wine_reviews['country'].isin(['Italy','France'])]

In [ ]:
# `isnull` and `notnull`: is null and is not null
# select rows where price is not null
wine_reviews.loc[wine_reviews['price'].notnull()]

### Assigning data

In [ ]:
# Assign constant value to a column
# note if the column('critic') doesn't exists, a new column will be created.
wine_reviews['critic'] = 'everyone'
wine_reviews['critic']

In [ ]:
# Assign a iterable value to a column
wine_reviews['index_backwards'] = range(len(wine_reviews), 0,-1)
wine_reviews['index_backwards']

Notes: 
- Be careful to distinguish `[]` and `()` when selecting data; also be aware the input data types inside a method's `()`.

## Summary Functions and Maps

### Summary Functions

In [ ]:
# describe() of a Series of numeric values
wine_reviews.points.describe()

In [ ]:
# desribe() of a categorical Series
wine_reviews.taster_name.describe()

In [ ]:
wine_reviews.points.mean()

In [ ]:
# retrieve list of unqiue values
wine_reviews.taster_name.unique()

In [ ]:
# retrieve values and counts. In SQL: select value, count(1) cnt from table group by value
wine_reviews.taster_name.value_counts()

### Maps

A map is a term for a function that takes one set of values and maps them to another set of values.

There are two mapping methods that you will use often:
- `map()`: map(function, list_inputs), or list_inputs.map(function)
- `apply()`: DataFrame.apply(function, axis= 'columns') -- means apply function to each row of the DataFrame
- Note that `map()` and `apply()` return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on.

In [ ]:
# map() example: remean the scores the wines received to 0.
review_points_mean = wine_reviews.points.mean()
wine_reviews.points.map(lambda p: p - review_points_mean)

In [ ]:
# apply() same example
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

wine_reviews.apply(remean_points, axis = 'columns')

Pandas provides many common mapping operations as built-ins.
- Series type + singe value type operation => map automatically
- Series type + Series type operation=> combine automatically

In [ ]:
# Series type + single values type
review_points_mean = wine_reviews.points.mean()
wine_reviews.points - review_points_mean

In [ ]:
# Series type + Series type 
wine_reviews.country + '-' + wine_reviews.region_1

In [ ]:
# Solution:idxmax() of Series + loc 
bargain_idx = (wine_reviews.points/wine_reviews.price).idxmax()
bargain_wine = wine_reviews.loc[bargain_idx, 'title']
print(bargain_wine)

In [ ]:
# My Solution: new column + select -- more verbose, but return the right result: 
#   there are 2 wine with the highest points/price ratios
wine_reviews['pp_ratios'] = wine_reviews.points/wine_reviews.price
bargain_wine = wine_reviews.title.loc[wine_reviews.pp_ratios == wine_reviews.pp_ratios.max()]
print(bargain_wine)

**Exercises**

1. There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset.

In [ ]:
n_trop = wine_reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = wine_reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop,n_fruity], index=['tropical','fruity'])
print(descriptor_counts)
# Quick takeaway: 
# - when deals with string without using regex, it's simple to deal one condition one at a time
# - always remember `in` in string is the `instr` in sql: check for existence. There is no method simply achieve it after string
# - index in DataFrame is useful when you want to label the row data

2. We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

    Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

    Create a series star_ratings with the number of stars corresponding to each review in the dataset.

In [ ]:
def rate_star(row):
    star = 0 
    if (row.points>=95 or row.country == 'Cananda'):
        star = 3
    elif (row.points<95 and row.points>=85):
        star = 2
    else:
        star = 1
    return star
        
star_ratings = wine_reviews.apply(rate_star, axis="columns")
print(star_ratings)

## Grouping and Sorting

### Groupwise analysis

In [ ]:
pd.set_option("display.max_rows", 5)

In [ ]:
# realize value_counts() using groupby()
df = wine_reviews.groupby('points')  # this creates a special groupby object
df.points.count() # count different points

In [ ]:
df.price.min() # get the min price of each point group

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessable to us directly using the `apply()` method

In [ ]:
# select the name of the first wine reviewed from each winery 
wine_reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

In [ ]:
# group by two columns and select the wine with highest point
wine_reviews.groupby(['country','province']).apply(lambda df: df.loc[df.points.idxmax()])

In [ ]:
# use groupby() + agg() to run a bunch of different functions simultaneously
wine_reviews.groupby(['country']).price.agg([len, min, max])
## note len(df) returns the row count of the DataFrame

### Multi-indexes
A multi-index differs from a regular index in that it has multiple levels.

In [ ]:
# count the number of reviews for each province
countries_reviewed = wine_reviews.groupby(['country','province']).description.agg([len])
countries_reviewed
## note: the result df has multiple levels

In [ ]:
mi = countries_reviewed.index
type(mi)

 in general the multi-index method you will use most often is the one for converting back to a regular index, the `reset_index()` method:

In [ ]:
countries_reviewed.reset_index() # convert multiple index to single index

### Sorting

In [ ]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by = 'len') # sort df by column `len` in ascending order

In [ ]:
countries_reviewed.sort_values(by = 'len', ascending=False) # sort df by column `len` in descending order

In [ ]:
countries_reviewed.sort_index() # sort by index(default order mode)

In [ ]:
# sort by 2 column
countries_reviewed.sort_values(by = ['country','len'])

#### Excercises

1. Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
reviews_written = wine_reviews.groupby('taster_twitter_handle').size()
# or
reviews_written = wine_reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

2. What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [ ]:
best_rating_per_price = wine_reviews.groupby('price').points.max().sort_index()
print(best_rating_per_price)

3. What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [ ]:
price_extremes = wine_reviews.groupby('variety').price.agg([min, max])
print(price_extremes)

4. What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
print(sorted_varieties)

5. Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [ ]:
reviewer_mean_ratings = wine_reviews.groupby('taster_name').points.mean()
print(reviewer_mean_ratings)

## Data Types and Missing Values

### Dtypes

In [ ]:
# `dtype` property on DataFrame or Series
wine_reviews.price.dtype

In [ ]:
wine_reviews.dtypes

One peculiarity to keep in mind is that columns consisting of entirely of strings do not get their own type; they are instead given the `object` type.

In [ ]:
# use `astype` to convert format
wine_reviews.points.astype('float64')

In [ ]:
# A DataFrame or Series index has its own `dtype` too
wine_reviews.index.dtype

### Missing data

Entries missing values are given the value `NaN`, short for "Not a Number". For technical reasons these `NaN` values are always of the `float64` dtype.

In [ ]:
# use pd.isnull() and pd.notnull() to work with NaN data
wine_reviews[pd.isnull(wine_reviews.country)]

In [ ]:
# replacing missing values using `fillna()`
wine_reviews['region_2'].fillna('Unknown')

In [ ]:
# replacing non-null value using `replace()`
wine_reviews.taster_twitter_handle.replace('@kerinokeefe','@kerino')

#### Exercise

1. Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [ ]:
# solution 1:
missing_price_reviews = wine_reviews[wine_reviews.price.isnull()]
n_missing_prices = len(missing_price_reviews)
# solution 2:
n_missing_prices = wine_reviews.price.isnull().sum()
# or equivalently:
n_missing_prices = pd.isnull(wine_reviews.price).sum()

## Renaming and Combining

### Renaming

`rename()` lets you rename index or column values by specifying a index or column keyword parameter, respectively.

In [ ]:
wine_reviews.rename(columns = {'points':'score'})

In [ ]:
# rename line index
wine_reviews.rename(index = {0:'firstEntry', 1:'secondEntry'})
## note: rename index is rarely, `set_index()` is usually more convenient

You'll probably rename columns very often, but rename index values very rarely. For that, set_index() is usually more convenient.

Both the row index and the column index can have their own name attribute. The complimentary rename_axis() method may be used to change these names.

In [ ]:
wine_reviews.rename_axis('wines', axis= 'rows').rename_axis('fields', axis='columns')

### Combining

Pandas has three core methods for combining: 
- `concat()`: concat DataFrame horizontally
- `join()`: join data vertically
- `merge()`: can be done by `join`, omitted.

In [ ]:
# concat() 
canadian_youtube = pd.read_csv("./data/youtube-data/CAvideos.csv")
british_youtube = pd.read_csv("./data/youtube-data/GBvideos.csv")

comb_youtube = pd.concat([canadian_youtube,british_youtube])
print(comb_youtube.shape)

In [ ]:
# join(): 
# Example: pull down videos that happened to be trending on the same day in both Canada and the UK

# step 1: set join key column to index
left = canadian_youtube.set_index(['title','trending_date'])
right = british_youtube.set_index(['title','trending_date'])
# step 2: join 
left.join(right, lsuffix='_CAN', rsuffix='_UK')